.header {
  background-color: var(--gray-700);
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4.785rem 0;
}

.section {
  max-width: 736px;
  width: 100%;
  margin: calc(0px - 54px / 2) auto;
}

.createTask {
  display: grid;
  grid-template-columns: 1fr 90px;
  gap: 8px;

  height: 54px;
}

.createTask input[type='text'] {
  border-radius: 8px;
  border: 1px solid var(--gray-500);
  background: var(--gray-500);
  padding: 0 1rem;
  outline: none;
  transition: border-color 0.1s ease-in-out;
  color: var(--gray-100);
}

.createTask input[type='text']:focus {
  border: 1px solid var(--purple-500);
}

.createTask button {
  border-radius: 8px;
  border: none;
  background: var(--blue-700);
  color: var(--white);
  font-weight: 600;
  outline: none;
  transition: background 0.1s ease-in-out;
  font-weight: 700;
  font-size: 14px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 8px;
}

.createTask button:hover {
  background: var(--blue-500);
}

.todoListHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4rem 0 1.5rem;
}

.todoListHeader p {
  font-weight: 700;
  color: var(--blue-500);
}

.todoListHeader p:last-of-type {
  color: var(--purple-500);
}

.todoListHeader span {
  background: var(--gray-400);
  border-radius: 999px;
  color: var(--gray-200);
  padding: 5px 10px;
  font-size: 0.875rem;
  font-weight: 700;
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: auto;
  max-height: 60vh;
}

.taskList::-webkit-scrollbar {
  width: 3px;
}

.taskList::-webkit-scrollbar-thumb {
  background-color: var(--purple-700);
}

.task {
  display: grid;
  gap: 12px;
  grid-template-columns: 24px 1fr 24px;
  padding: 1rem;
  background: var(--gray-500);
  border-radius: 8px;

  align-items: center;
}

.task p {
  color: var(--gray-100);
  font-size: 0.875rem;
}

.task p.titleCompleted {
  text-decoration: line-through;
  color: var(--gray-300);
}

.task button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
  color: var(--gray-300);
}

.task button:hover {
  color: var(--danger);
}

.noTasks {
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--gray-300);
  padding: 4rem 0;
}

.noTasks img {
  margin-bottom: 1rem;
}

.noTasks p,
strong {
  font-size: 1rem;
  line-height: 1.5rem;
}
